.kim-resume {
    text-align: center;
  }

.mission-statement {
    font-size: 75px;
}
.My Professional Page {
    text-align: center;
}
body {
    background-color: peachpuff ;
}
h1 {
    font-family: cursive
}
h1{
     color: salmon;
}